<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Emotion Recognition</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="parent-div">
        <div class="container">
          <div class="sub-container1">
             <h1>Audio Emotion Recognition</h1>
            <p>Detect involved emotions in Audio</p>
          </div>
          <div class="sub-container2">
        
        <form method="post" action="{{ url_for('recognize_emotion') }}" enctype="multipart/form-data">
            <input type="file" class='button'name="audio" accept=".wav, .mp3" required>
            <button type="submit" class=" button1">Detect</button>
        </form>


        <div class="result-container">

        {% if prediction %}
            <h2>Predicted Emotion:</h2>
            <p>{{ prediction }}</p>
        {% endif %}

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        </div>
        </div>
        </div>
    </div>
</body>
</html>
